<!--包含头部文件-->
{include file="public/header" /}
<body>


<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 分类管理
    <span class="c-gray en">&gt;</span> 分类列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">


    <div class="text-c"> 日期范围：
        <input type="text" name="startDate" onfocus="WdatePicker({ maxDate:'' })" id="logmin" class="input-text Wdate" style="width:120px;">
        <input type="text" name="endDate" onfocus="WdatePicker({ minDate:'',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
        <input type="text" name="groupName" id="" placeholder=" 团购名称" style="width:250px" class="input-text">
        <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont"></i> 搜索</button>
    </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40"><input name="" type="checkbox" value=""></th>
                <th width="80">ID</th>
                <th width="100">分类</th>
                <th width="30">排序序号</th>
                <th width="150">新增时间</th>
                <th width="60">发布状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
            <tr class="text-c">

                <td>{$vo->id}</td>
                <td>{$vo->name}</td>
                <td>{$vo->category_id}</td>
                <td>{$vo->se_category_id}</td>
                <td>{$vo->bis_id}</td>
                <td>{$vo->location_ids}</td>
                <td>{$vo->image}</td>
                <td>{$vo->description}</td>
                <td>{$vo->start_time}</td>
                <td>{$vo->end_time}</td>
                <td>{$vo->origin_price}</td>
                <td>{$vo->current_price}</td>
                <td>{$vo->city_id}</td>
                <td>{$vo->buy_count}</td>
                <td>{$vo->total_count}</td>

            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>
<div class="cl pd-5 bg-1 bk-gray mt-20 tp5-nuomi"></div>
<!--包含footer文件-->
{include file="public/footer" /}
<script>
    var SCOPE = {
        'listorder_url': "{:url('category/listorder')}",
    };
</script>
</body>
</html>